/****Reset***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/******estilos body-index****/
.body-index {
  background-image: url(../img/fondo-pagina-web.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .body-index main {
    display: none; }
  .body-index header {
    background-color: #FF5D5D;
    display: flex;
    justify-content: space-between; }
    .body-index header .navbar {
      display: none; }
    .body-index header a img {
      height: 45px;
      width: 90px;
      background-color: #FFF;
      padding: 3px;
      margin-top: 8px;
      margin-left: 7px;
      border-radius: 5px; }
  .body-index footer {
    background-color: #FF5D5D;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    border-radius: 2px; }
    .body-index footer p {
      margin-top: 30px;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: bold; }
    .body-index footer a {
      display: inline-block;
      margin-top: 0.48rem;
      margin-left: 0.30rem; }

/********estilos body pages********/
body {
  background-color: #FFF2F2;
  font-family: 'Rubik', sans-serif; }
  body header {
    background-color: #FF5D5D; }
    body header div a img {
      height: 45px;
      width: 90px;
      background-color: #FFF;
      padding: 3px;
      margin-top: 8px;
      margin-left: 7px;
      margin-bottom: 0;
      border-radius: 5px; }
    body header .menu-pages ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      gap: 1.4rem;
      justify-content: end;
      padding: 20px;
      margin-left: 15px; }
      body header .menu-pages ul li a {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
        color: black;
        list-style: none;
        text-decoration: none;
        padding: 10px;
        margin-left: 7px;
        border-radius: 4px;
        letter-spacing: 0.7px; }
        body header .menu-pages ul li a:hover {
          padding: 5px;
          background-color: #F47C7C;
          border-radius: 4px;
          transition-duration: 0.3s; }
  body .footer-pages {
    background-color: #FF5D5D;
    color: #272727d8;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-around;
    position: relative; }
    body .footer-pages .redes-footer {
      display: flex;
      align-items: center;
      gap: 1.4rem; }
      body .footer-pages .redes-footer a img {
        height: 28px; }

/*****************estilos del inicio**************/
.main-inicio div .foto-inicio-arriba {
  height: 20vh; }

.main-inicio div .foto.carrousel3 {
  display: none; }

.main-inicio .logo-eci {
  display: flex;
  justify-content: center;
  background-image: url(../img/prueba1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

.main-inicio .sobre-nosotros-inicio {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "video encabezado encabezado" "video texto texto" "video texto texto";
  border-radius: 3px;
  box-shadow: 3px 3px 10px gray;
  margin: 50px;
  margin-top: 7rem; }

.main-inicio section h1 {
  color: #3e3e3ea9;
  font-family: 'Rubik', sans-serif;
  grid-area: encabezado;
  margin-top: 1.8rem;
  margin-right: 6rem;
  margin-left: 1.4rem;
  color: #3e3e3ea9;
  letter-spacing: 1px; }

.main-inicio section .video {
  grid-area: video;
  margin-left: 4rem;
  margin-top: 2rem; }

.main-inicio section .texto-sobre {
  grid-area: texto;
  font-family: 'Rubik', sans-serif;
  padding: 1rem;
  text-align: start;
  padding: 2.5rem;
  padding-left: 1rem; }

.main-inicio section a img {
  height: 4rem; }

.sobre-dos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr;
  grid-template-areas: "titulo-2  carrousel" " texto-2  carrousel"  " texto-2  carrousel";
  border-radius: 3px;
  box-shadow: 3px 3px 10px gray;
  margin: 50px;
  margin-top: 7rem; }
  .sobre-dos h2 {
    grid-area: titulo-2;
    font-family: 'Rubik', sans-serif;
    margin-top: 1.8rem;
    margin-right: 2rem;
    margin-left: 1.4rem;
    color: #3e3e3ed8;
    letter-spacing: 1px;
    text-align: center; }
  .sobre-dos p {
    grid-area: texto-2;
    font-family: 'Rubik', sans-serif;
    padding: 1rem;
    text-align: center;
    padding: 3rem; }
  .sobre-dos img {
    grid-area: carrousel;
    width: 560px;
    padding: 20px;
    margin-left: 10rem; }

/********************* estilos MAIN Seccion productos***************/
main .productos-inicio {
  display: flex;
  margin-top: 4rem; }

main h2 {
  margin-top: 5rem;
  text-align: center;
  font-size: 2.5rem; }

main .productos-inicio {
  display: flex;
  text-align: center;
  justify-content: space-around; }

main .card-uno {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 14%;
  border: 1.5px solid gray;
  box-shadow: 2px 2px 4px gray;
  border-radius: 5px; }

main h3 {
  font-size: 1.5rem;
  padding: 0.4rem;
  text-align: center; }

main .btn-card {
  font-size: 17px;
  border: 1px solid gray;
  border-radius: 5px;
  height: 3.3rem;
  background-color: #F47C7C; }

main .btn-card-tres {
  margin-top: 35%;
  border: 1px solid gray;
  border-radius: 5px;
  height: 3.3rem;
  background-color: #F47C7C;
  font-size: 17px; }

main .card-dos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 14%;
  border: 1.5px solid gray;
  box-shadow: 2px 2px 4px gray;
  border-radius: 5px; }

main .card-tres {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 14%;
  border: 1.5px solid gray;
  box-shadow: 2px 2px 4px gray;
  border-radius: 5px; }

main .contacto-main {
  margin-top: 10rem; }

main .h3-form {
  font-size: 2.5rem;
  margin-top: 10rem; }

/*********Formulario MAIN*******/
.contacto-main {
  display: flex;
  flex-direction: column; }
  .contacto-main form {
    width: 90% !important; }
  .contacto-main .mapa {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contacto-main .contacto-principal {
    margin-top: 5%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center; }

/*************Estilos sobre nosotros*********/
.sobre-nosotros section {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 2rem; }
  .sobre-nosotros section h1 {
    color: #3e3e3ea9; }
  .sobre-nosotros section .video {
    display: flex;
    flex-direction: column;
    align-content: center; }
  .sobre-nosotros section .texto-sobre {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    border: 3px solid gray;
    border-radius: 5px; }
  .sobre-nosotros section .texto-sobre-dos {
    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 3rem;
    border: 3px solid gray;
    border-radius: 5px; }

.footer-pages {
  position: relative; }
