/*************Estilos sobre nosotros*********/
.sobre-nosotros{
    section{
        display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
        gap: 2rem;

        h1{
            color: $color-encabezado;
        }

        .video{
            display: flex;
            flex-direction: column;
            align-content: center;
        }

        .texto-sobre{
            width: 30%;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 3rem;
            border: 3px solid gray;
            border-radius: 5px;
        }
        .texto-sobre-dos{
            width: 30%;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 3rem;
            border: 3px solid gray;
            border-radius: 5px;
        }
    }
}

.footer-pages{
    position: relative;
}


/************MQ SOBRE NOSOTROS**************/
@media screen and (max-width:767px){
    .sobre-nosotros{
        section{
            display: flex;
            flex-direction: column;
            .video{
                width: 70%;
            }
            h1{
                margin-top: 5rem;
            }
            .texto-sobre{
                width: 80%;
                border: 1px solid gray;
                box-shadow: 2px 2px 5px;
            }
            .texto-sobre-dos{
                width: 80%;
                border: 1px solid gray;
                box-shadow: 2px 2px 5px;
                margin-bottom: 5rem;
            }
        }
    }
}


@media screen and (min-width: 767px) and(max-width: 1023px){
    .sobre-nosotros{
        section{
            display: flex;
            flex-direction: column;
            .video{
                width: 70%;
            }
            h1{
                margin-top: 5rem;
            }
            .texto-sobre{
                width: 80%;
                border: 1px solid gray;
                box-shadow: 2px 2px 5px;
            }
            .texto-sobre-dos{
                width: 80%;
                border: 1px solid gray;
                box-shadow: 2px 2px 5px;
                margin-bottom: 5rem;
            }
        }
    }
}