/***************Estilo Productos************/
body{
    .main-productos{
    h1{
        color: $color-encabezado;
        display: flex;
        justify-content: flex-start;
        margin: 3rem;
    }
    h2{
        color: $color-encabezado;
        font-size: 28px;
    }
    .productos{
        display: flex;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        gap: 6rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        justify-content: center;
    }
}
.footer-pages{
    padding: 1.2rem;
}
}



/************MQ Productos**********/
@media screen and (max-width:767px){
    .main-productos{
        text-align: center;
        .productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            .card-uno{
                width: 50%;
            }
            .card-dos{
                width: 50%;
            }
            .card-tres{
                width: 50%;
            }
        }
    }
}


@media screen and (min-width: 767px) and(max-width: 1023px){
    .main-productos{
        text-align: center;
        .productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            .card-uno{
                width: 30%;
            }
            .card-dos{
                width: 30%;
            }
            .card-tres{
                width: 30%;
            }
        }
    }
}


@media  screen and (min-width:1024px) {
    .main-productos{
        text-align: center;
        .productos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            .card-uno{
                width: 20%;
            }
            .card-dos{
                width: 20%;
            }
            .card-tres{
                width: 20%;
            }
        }
    }
}